@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

:root {
    --color-primary: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif
}

html,
body {
    width: 100%;
    height: 100%;
    color: var(--color-primary);
    background: url(./Mintlify/bg-light.svg) center 26% /121% no-repeat;
    margin-bottom: 1000px;
    /* background-color: #F7F7F7; */
}

nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 24px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    width: 80%;
    /* height: 65px; */
}

#logo img {
    width: 104px;
    margin-top: 3px;
}

#other {
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    font-size: 15px;
    margin: -3px 15px 0 166px;
    margin-top: -3px;
    /* margin: -3px 15px 0 100px; */
}

#other ul {
    display: flex;
}

#other ul li {
    list-style: none;
    padding: 0px 14px;

}

button {
    background-color: rgba(255, 255, 255, 0.05);
    color: #fff;
    border: none;
    padding: 7.5px 12.5px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
    scale: 1.015;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
}

#buttons {
    display: flex;
}

.sec-btn {
    background-color: #fff;
    color: #000;
}


/* hero */

#hero {
    display: flex;
    justify-content: center;
    margin: 28px 0 0 0;
    color: #fff;
}


#tagline {
    background-color: rgba(0, 0, 0, 0.15);
    padding: 4px 8px 4px 4px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    padding: 6px;
    font-weight: 500;
    margin: 0;
    /* letter-spacing: 1px; */

}

#tagline span {
    background-color: #188b5f;
    padding: 2px 8px;
    border-radius: 20px;
    margin-right: 4px;
    font-size: 12px;
}

#tagline i {
    /* padding: 4px; */
    background-color: #ffffff;
    padding: 3px 5px;
    font-size: 10px;
    border-radius: 50px;
    color: rgba(0, 0, 0, 1);
    font-weight: 900;
    margin: 0 4px;
}

main {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    color: #fff;
}

main h1 {
    width: 40%;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    font-size: 54px;
    font-weight: 600;
}

#sub {
    width: 35%;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}

form {
    width: 360px;
    margin: 30px auto 0;
    background-color: #dddddd38;
    padding: 4px 4px 4px 8px;
    display: flex;
    justify-content: space-between;
    /* gap: 4px; */
    border-radius: 50px;
    border: 1px solid #ffffff20;
}

form input {
    background: transparent;
    border: none;
    width: 70%;
    outline: none;
    padding: 0 0 0 6px;
}

form button {
    margin: 0;
}

input::placeholder {
    color: #fcfcfc70;
    font-size: 16px;
    font-weight: 500;
}

main img {
    margin: 75px auto 0;
    border-radius: 20px;
}

#client {
    width: 75%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 65px);
    row-gap: 25px;
}

#client div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#client div img {
    width: 130px;
}

#bottom {
    width: 80%;
    margin: 0 auto;
}

#bottom h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 180px;
}

#bottom p {
    font-size: 16px;
    width: 55%;
    margin: 20px auto;
    text-align: center;
    color: #6f6f6f;
    line-height: 1.4;
}


#card-section {
    margin-top: 30px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 150px;
}

#cards {
    display: flex;
    gap: 20px;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 50%;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card p {
    width: 72%;
}

.card img {
    width: 400px;
    margin: 50px auto 0;
}

.card h3 {
    font-weight: 500;
    font-size: 24px;
}

.line {
    font-size: 12px;
    font-weight: 500;
    color: #188b5f;
    font-family: 'Geist Mono', monospace;
}

#b-card {
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 60px 30px 30px;
    border-radius: 20px;
}

#b-card img {
    width: 90%;
}

#b-card h3 {
    font-weight: 500;
    font-size: 24px;
}

#b-card p {
    width: 47%;
    text-align: center;
}

#ent-card {
    background-color: #f8f8f8;
    padding: 50px 0;
}

#ent-card>div {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

#ent-card>div>div {
    display: flex;
    justify-content: space-between;
}

.btn-three {
    background-color: #000000;
    color: #fff;
}

#ent-card h2 {
    font-size: 36px;
    font-weight: 600;
    width: 40%;
    margin: 20px 0;
}

#feature {
    display: flex;
    justify-content: space-between;
}

#feature div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

#feature>div:first-child {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}

#feature div img {
    width: 45px;
    margin-left: -7px;
}

#feature h3 {
    font-weight: 600;
}

#feature p {
    line-height: 1.4;
    width: 98%;
}

#feature-btm {
    background: url(./Mintlify/feature-bg.svg) center/cover no-repeat;
    border-radius: 30px;
    width: 100%;
    color: #fff;
    padding: 60px;
}

#feature-img-cont {
    width: 40%;
    margin-top: 150px;
    gap: 0px;
    font-size: 14px;
}

#feature-btm p {
    color: #fff;
}

#feature-btm h2 {
    font-size: 24px;
    width: 350px;
    margin-bottom: 30px;
}

.feature-img-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.feature-img-card span {
    font-size: 36px;
}

.fic-1 {
    width: 50%;
}

.fic-2 {
    width: 50%;
}

#lower {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    
}

.lower-img {
    height: 30px;
}


#customers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin: 0 auto;
    padding: 120px 0;
    text-align: center;
    background-color: #ffffff;
}

#customers h3 {
    font-size: 36px;
    margin: 10px 0;
}

#customers-cards {
    display: flex;
    gap: 10px;
    margin-top: 40px;
}

.c-card {
    width: 35%;
    text-align: left;
}

.c-card img {
    width: 400px;
    border-radius: 10px;
}

.c-card div {
    margin-top: 25px;
}

#arrow {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 40px;
}

.round {
    background-color: #000000;
    color: #ffffff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

#docs {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    background-color: #f7f7f7;
    padding-bottom: 80px;
}

#docs h3 {
    width: 30%;
    font-size: 36px;
    margin-bottom: 10px;
}

#final-btns {
    margin: 40px 0;
}

#final-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 50%;
}

.final-card {}

.final-card img {
    width: 50px;
    margin-bottom: 25px;
}

.final-card h4 {
    font-weight: 600;
    margin-bottom: 10px;
}

.final-card p {
    margin-bottom: 30px;
}

.final-card span {
    margin-bottom: 30px;
    color: #188b5f;
}

.mid-line {
    width: 1px;
    background-color: rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #F7F7F7;
    /* margin-top: 70px; */
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#f1 {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 30px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#f1 img {
    height: 22px;
}

#f-icons {
    font-size: 20px;
    color: #6f6f6f;
    display: flex;
    gap: 20px;
}

#summary {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.summary-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: 500;
    font-size: 14px;
}

.summary-block p:first-child {
    color: rgb(127, 128, 128);
}

#btm-line {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 15px;
    font-weight: 500;
    font-size: 15px;
}

#btm-line img{
    width: 60px;
}

#f-end{
    width: 70%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 40px  20px 70px ;
    display: flex;
    justify-content: space-between;
}

#f-sys{
    background-color: #eeeeee;
    padding: 4px 10px ;
    border-radius: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}

#f-sys i{
    color: #188b5f;
}

#f-end>p{
    color: #6f6f6f;
    font-size: 14px;
}

#footer-icons{
    background-color: #eeeeee;
    padding: 4px 10px;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 12px;
    color: #6f6f6f;
}

#footer-icons>div{
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    aspect-ratio: 1/1;
    color: #000;
}


html{
    overflow-x: hidden;
}